.fightSize {
  height: 300px;
}
main {
  background-color: black;
  color: white;
}
body {
  background-image: url("images/Book4.jpg");
  background-size: cover;
}
#wrapper {
  width:60%
  margin: auto;
  margin-top: 30px;
}
ul {
 list-style-image: url("images/smallicon2.jpg");
}
.border {
  border-image: url("images/smallicon2.jpg") 30 round;
}